* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #9d2525;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    place-items: center;
}

p {
    font-size: 1.3125rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 28rem;
    background: #fff;
    padding: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

label {
    width: 100%;
    color: #777;
    align-items: flex-start;
    transition: 0.15s linear;
}

label:focus-within {
    color: #c83d3d;

}

.texto{
    font-size: 1.1875rem;
    color: #404040;
    padding: 1rem 0 0.5rem 0;
    width: 100%;
    border: none;
    border-color: #a0a0a0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin-bottom: 3rem;
    transition: 0.15s linear;
}

.texto:focus {
    outline: none;
    border-color: #c83d3d;
}

.generos label{
    padding: 0px 3px;   
}

#cargosLabel {
    margin-top: 2rem;
}

select {
    font-size: 0.8125rem;
    font-weight: 700;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background: transparent;
    color: #222;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    transition: 0.25s;
}

select:focus {
    outline: none;
    border-color: #c83d3d;
}

button {
    font-size: 0.8125rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background: transparent;
    color: #9d2525;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 0.5rem;
    transition: 0.25s;
}

button:hover,
button:focus {
    outline: none;
    background: #c83d3d;
    color: #fff;
}